# =============================================================================
# REDIS
# =============================================================================

# Redis server used to store blacklisted JWTs.
REDIS_HOST=localhost

# Redis server port.
REDIS_PORT=6379


# =============================================================================
# LOKI
# =============================================================================

LOKI_URL=http://localhost:3100/loki/api/v1/push